@media(max-width: 1024px){

/* header&main section responsive */

    .nav-ul{
        margin-right: 90px;
        margin-left: 90px;
    }

    /* table section */
    .table-sheet{
        padding-left: 20px;
    }
   
}

@media (max-width: 768px){
    /* header */
    .burger{
        display: block;
    }

    .nav-ul{
        display: none;
    } 
    /* home section */
    .home-container{
        flex-direction: column-reverse
    }
    .right-container h1, .right-wrapper h2{
        font-size: 50px;
    }

    /* about section */
    .about-wrapper{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .left-container, .left-wrapper-image, .service-wrapper-left{
        margin-bottom: 10px;
        height: 400px;
    }
    .statistic-box-child span{
        font-size: 25px;
        line-height: 28px;
    }
    .statistic-box-child p{
        font-size: 15px;
        line-height: 18px;
    }

    /* about-work */
    .about-work{
        flex-wrap: wrap;
        height: 650px;
        justify-content: start;
        margin-top: 20px;
    }
    .about-work-left{
        margin-top: 0;
    }

    /* service section */

    .service-wrapper{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .line-wrapper{
        padding-top: 0;
        margin-bottom: 0;
        
    }
    .line{
        margin-top: 0;
    }

    /* table section */
    .service-table-below{
        flex-direction: column;
        margin-top: 20px;
        height: 900px;
    }
    .table-sheet{
        height: 300px;
    }

}

@media(max-width: 375px){
    /* home section */
    .homePage-section{
        padding-top: 0;
    }

    .left-container, .left-wrapper-image, .service-wrapper-left{
        height: 334px;
    }

    .right-container h1{
        font-size: 40px;
        line-height: 45px;
    }
    .right-container, .right-wrapper{
        height: 450px;
    }
    
   /* about section */
   .about-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
    
   }
   .left-wrapper-image{
        margin-right: 0;
   }
   .right-wrapper h2{
    font-size: 35px;
    line-height: 38px;
    }
    .statistic-box{
        flex-direction: column;
        height: 528px;
    }
    .statistic-box-child{
        height: 176px;
    }

    /* about-work */
    .h3{
        font-size: 30px;
    }
    .about-work-child span{
        font-size: 50px;
    }
    .about-work-child p{
        font-size: 15px;
    }

    /* service section */
    .service-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
    }


}